@use "../_base/" as *;
@use "../_foundation/" as *;

// ヘッダー
// =============================================================================
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 25px;
    max-width: 100%;

    @media screen and (min-width: 768px) {
      padding: 20px 10px 20px;
    }

    @media screen and (min-width: 900px) {
      padding: 20px 100px 20px;
    }
    
    @media screen and (min-width: 1100px) {
      padding: 20px 108px 20px;
    }
  }

  &__logo {
    flex-shrink: 0;

    &-link {
      display: block;
      color: var(--color-white);

      header.scrolled & {
        color: var(--color-black2);
      }
    }

    &-text {
      font-family: var(--font-family-02);
      font-size: px-to-rem(18);
      font-weight: 700;
      line-height: 1.84rem;
      letter-spacing: 0.15rem;

      @include media-query {
        font-size: px-to-rem(20);
        letter-spacing: 0.11rem;
      }
    }

    &-subtext {
      font-family: var(--font-family-01);
      font-size: px-to-rem(10);
      font-weight: 400;
      line-height: 1rem;
      opacity: 0.7;
      padding-top: 3px;
      letter-spacing: 0.17rem;
      
      @include media-query {
        letter-spacing: 0.22rem;
      }
    }
  }

  &__nav {
    @include media-query($_range: below) {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: var(--color-white);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: px-to-rem(40);
      z-index: 99;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease;
    }

    @include media-query {
      display: flex;
      align-items: center;
      gap: 18px;
    }
  }

  &.active {
    .header__nav {
      @include media-query($_range: below) {
        opacity: 1;
        pointer-events: auto;
        top: 0;
      }
    }
    .header__logo-link {
      color: var(--color-black2);
      position: relative;
      z-index: 100;
    }
    .header__nav-link {
      color: var(--color-black2);
    }
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 5px 0 14px 5px;

    @include media-query {
      flex-direction: row;
      gap: px-to-rem(32);
    }
  }

  &__nav-link {
    display: inline-block;
    font-family: var(--font-family-03);
    font-size: px-to-rem(14);
    font-weight: 500;
    color: rgb(255 255 255 / 85%);
    transform: scale(1);
    transition: color 0.3s ease;

    @include media-query($_range: below) {
      font-size: px-to-rem(18);
      letter-spacing: 0.1em;
    }

    @include hover {
      color: var(--color-red);
    }

    header.scrolled & {
      color: var(--color-black2);

      @include hover {
        color: var(--color-red);
      }
    }
  }

  &__contact {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: px-to-rem(18) px-to-rem(36);
    background: var(--color-red);
    color: var(--color-white);
    font-family: var(--font-family-03);
    font-size: px-to-rem(18);
    font-weight: 500;
    border-radius: px-to-rem(4);
    white-space: nowrap;
    transition: opacity 0.2s;

    @include media-query {
      font-size: px-to-rem(16);
      padding: px-to-rem(9) px-to-rem(22);
    }

    @include hover {
      opacity: 0.85;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    gap: px-to-rem(12);

    @include media-query {
      padding-left: 18px;
    }

    &-link {
      width: 36px;
      height: 36px;
      min-width: 36px;
      min-height: 36px;

      @include media-query {
        width: 14px;
        height: 14px;
        min-width: 14px;
        min-height: 14px;
      }

      @include hover {
        color: var(--color-red);
      }
    }

  .x-icon {
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    & i {
      color: var(--color-black2);
      font-size: px-to-rem(36);
      line-height: 1;

      header.scrolled & {
        color: var(--color-black2);
      }

      @include media-query {
        font-size: px-to-rem(18);
        color: var(--color-white);
      }
    }
  }
}

  &__background {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 98;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;

    &.active {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.header.header-type2 {
  .header__inner {
    @media screen and (min-width: 768px) {
      padding: 20px 10px 20px;
    }

    @media screen and (min-width: 900px) {
      padding: 20px 100px 20px;
    }
    
    @media screen and (min-width: 1100px) {
      padding: 16px 132px 16px;
    }
  }

  .header__logo-link{
    display: block;
    color: var(--color-black2);
  }

  .header__logo-text {
    font-size: 1.7rem;
  }

  .header__logo-subtext {
    letter-spacing: 0.11rem;
  }

  .header__nav-link {
    color: var(--color-black2);

    @include hover {
      color: var(--color-red);
    }
  }

  .header__nav {
    gap: 2rem;
  }

  .header__nav-list {
    gap: 2.8rem;
  }

  .header__contact {
    padding: 0.8rem 1.8rem;
    font-size: px-to-rem(13);
    margin-top: -0.5rem;
  }

  .x-icon {
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    & i {
      color: var(--color-black2);
      font-size: 18px;
      line-height: 1;
    }
  }

  .hamburger {
    #hamburger__btn {
      background: var(--color-black2);

      &::before,
      &::after {
        content: '';
        background: var(--color-black2);
      }
    }

    &.active {
      #hamburger__btn {
        background: transparent;
      }
    }
  }
}

// H1
// =============================================================================
.header__heading {
  background-color:var(--color-beige4);
  padding-top: px-to-rem(93);
  padding-bottom: px-to-rem(48);
  text-align: center;

  @include media-query {
    padding-top: px-to-rem(110);
    padding-bottom: px-to-rem(66);
  }
}

.header__heading-en {
  font-family: var(--font-family-01);
  font-size: px-to-rem(12);
  font-weight: 700;
  line-height: 2.16rem;
  letter-spacing: 0.24em;
  color: var(--color-red);
}

.header__heading-ja {
  font-family: var(--font-family-02);
  font-size: px-to-rem(28);
  font-weight: 700;
  color: var(--color-black2);
  line-height: 3rem;
  letter-spacing: 0.08em;
  margin-top: px-to-rem(22);

  @include media-query {
    font-size: px-to-rem(24);
    font-size: 4rem;
    line-height: 4.58rem;
    letter-spacing: 0.3rem;
  }
}

// ハンバーガー
// =============================================================================
.hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: px-to-rem(5);
  padding: px-to-rem(8);
  position: relative;
  z-index: 101;
  cursor: pointer;

  @include media-query {
    display: none;
  }

  #hamburger__btn {
    position: relative;
    display: block;
    width: px-to-rem(24);
    height: px-to-rem(2);
    background: var(--color-white);
    transition: background 0.3s ease;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: px-to-rem(2);
      background: var(--color-white);
      transition: transform 0.3s ease, background 0.3s ease;
    }

    &::before {
      top: px-to-rem(-8);
    }

    &::after {
      top: px-to-rem(8);
    }
  }

  header.scrolled & {
    #hamburger__btn {
      background: var(--color-black2);

      &::before,
      &::after {
        background: var(--color-black2);
      }
    }
  }

  &.active {
    #hamburger__btn {
      background: transparent;

      &::before {
        transform: translateY(0.8rem) rotate(45deg);
        background-color: var(--color-black2);
      }

      &::after {
        transform: translateY(-0.8rem) rotate(-45deg);
        background-color: var(--color-black2);
      }
    }

    header.scrolled & {
      #hamburger__btn {
        background: transparent;
      }
    }
  }
}

// サイドバー
// =============================================================================
.sidebar {
    position: fixed;
    right: 0;
    top: 100%;
    transform: translateY(-100%);
    z-index: 50;
    display: flex;
    flex-direction: row;
    width: 100%;

  @include media-query {
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;
    align-items: flex-end;
    width: 48px;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: px-to-rem(18) 0;
    color: var(--color-white);
    text-decoration: none;
    gap: px-to-rem(8);
    transition: opacity 0.2s;

    i {
      font-size: px-to-rem(14);
    }

    span {
      font-family: var(--font-family-03);
      font-size: px-to-rem(10);
      letter-spacing: 0.05em;
    }

    @include media-query {
      padding: px-to-rem(24);
      width: px-to-rem(40);
      flex-direction: column;

      span {
        writing-mode: vertical-rl;
        font-size: px-to-rem(13);
      }
    }

    @include hover {
      opacity: 0.8;
    }

    &--contact {
      background: var(--color-red);
    }

    &--youtube {
      background: var(--color-blue);
    }
  }
}

// パンクズ
// =============================================================================
.breadcrumbs {
  border-top: 3px solid var(--color-red);
  background-color: var(--color-beige3);
  padding: 10px 0 10px 24px;

    @media screen and (min-width: 768px) {
      padding: 20px 10px 20px;
    }

    @media screen and (min-width: 900px) {
      padding: 20px 100px 20px;
    }
    
    @media screen and (min-width: 1100px) {
      padding: 8px 0 8px 178px;
    }
    
  &__text {
    font-family: var(--font-family-03);
    font-weight: 400;
    font-size: px-to-rem(12);
    line-height: 2;
    color: var(--color-black);
    position: relative;

    &:not(:last-child)::after {
      content: "/";
      padding: 0 6px;
    }
  }
}
