@use '../_base/' as *;
@use '../_foundation/' as *;

html {
  font-size: 62.5%;
  /* = 10px */
}




.news-container {
  background-color: var(--color-beige);
  padding-inline: 24px;
  margin-top: 100px;
  margin-bottom: 100px;
  @media (min-width: 768px) {
    padding-inline: 170px;
  }
}


.news-category__wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;

  @media (min-width: 768px) {
    gap: 9px;
    margin-inline: 24px;
  }
}

/* カテゴリーボタン */

.news-category__btn {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.8;
  color: var(--color-black);
  background-color: var(--color-white);
  border: 1px solid var(--color-beige2);
  padding: 5px 14px;
  transition: all .3s ease;

  @media (min-width: 768px) {
    font-size: 1.28rem;
    padding: 6px 18px;
  }
}

.news-category__btn--red,
.news-category__btn:hover {
  background-color: var(--color-red);
  color: var(--color-white);
  border-color: var(--color-red);
}

.news-category__btn--ls {
  letter-spacing: 1px; /* 微調整不要なら削除 */
}

.news-category__btn--ls2 {
  letter-spacing: 1.5px; /* 微調整不要なら削除 */
}