/* フェードイン */

.js-fade {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 0.9s ease, transform 0.9s ease;

    &.visible {
        opacity: 1;
        transform: translateY(0);
    }
}