@use "../_base/" as *;
@use "../_foundation/" as *;

// メインビジュアル
// =============================================================================
.mv {
  position: relative;
  height: 100vh;
  overflow: hidden;

  &__background {
    background: rgba(0, 0, 0, 0.45);
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  &__carousel {
    position: absolute;
    inset: 0;
    z-index: 0;
  }

  &__slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;

    &.is-active {
      opacity: 1;
    }

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }
  &__slide:nth-child(2) {
    img {
      object-position: -500px center;

      @include media-query {
        object-position: center;
      }
    }
  }
  &__slide:nth-child(3) {
    img {
      object-position: -100px center;

      @include media-query {
        object-position: center;
      }
    }
  }
  &__slide:nth-child(4) {
    img {
      object-position: center left;

      @include media-query {
        object-position: center;
      }
    }
  }
  &__slide:nth-child(6) {
    img {
      object-position: center left;

      @include media-query {
        object-position: center;
      }
    }
  }
  &__slide:nth-child(7) {
    img {
      object-position: -250px center;

      @include media-query {
        object-position: center;
      }
    }
  }

  &__indicators {
    position: absolute;
    bottom: px-to-rem(64);
    right: px-to-rem(24);
    z-index: 3;
    display: flex;
    gap: px-to-rem(8);
    align-items: center;

    @include media-query {
      bottom: px-to-rem(32);
      right: px-to-rem(32);
    }
  }

  &__indicator {
    width: px-to-rem(10);
    height: px-to-rem(10);
    border-radius: 50%;
    background: rgb(255 255 255 / 50%);
    border: none;
    padding: 0;
    cursor: pointer;
    transition: background 0.3s;

    &.is-active {
      background: var(--color-red);
    }
  }

  &__content {
    position: absolute;
    inset: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: px-to-rem(70) px-to-rem(24) px-to-rem(40);
    
    @include media-query {
      justify-content: center;
      inset: auto;
      top: 0;
      left: 0;
      bottom: 0;
      padding: 0 0 0 144px;
    }
  }

  &__role {
    margin-top: 127px;
    font-family: var(--font-family-03);
    font-size: px-to-rem(12);
    font-weight: 500;
    color: rgb(255 255 255 / 70%);
    line-height: 2.3rem;
    letter-spacing: 0.36rem;
    margin-left: px-to-rem(2);
    margin-bottom: px-to-rem(10);
    
    @include media-query {
      margin-top: 0;
      font-size: px-to-rem(13);
      letter-spacing: 0.32rem;
      margin-left: px-to-rem(0);
      margin-bottom: px-to-rem(16);
    }
  }

  &__name {
    font-family: var(--font-family-02);
    color: var(--color-white);
    font-weight: 700;
    font-size: px-to-rem(36);
    line-height: 5.2rem;
    letter-spacing: 0.4rem;

    @include media-query {
      font-size: px-to-rem(80);
      line-height: 8.8rem;
    }
  }

  &__name-en {
    font-family: var(--font-family-01);
    font-size: px-to-rem(13);
    color: rgb(255 255 255 / 55%);
    font-weight: 400;
    line-height: 3.8rem;
    letter-spacing: 0.45rem;
    margin-bottom: px-to-rem(12);

    @include media-query {
      font-size: px-to-rem(18);
      line-height: 3.0rem;
      letter-spacing: 0.5rem;
      padding-top: px-to-rem(12);
      margin-bottom: px-to-rem(20);
    }
  }

  &__lead {
    font-family: var(--font-family-02);
    font-size: px-to-rem(15);
    font-weight: 400;
    color: rgb(255 255 255 / 90%);
    line-height: 3.2rem;
    margin-bottom: px-to-rem(36);
    opacity: 0.9;
    
    @include media-query {
      line-height: 4.1rem;
      font-size: px-to-rem(20);
      margin-bottom: px-to-rem(36);
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: px-to-rem(16);

    @include media-query {
      flex-direction: row;
    }
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: px-to-rem(16);
    padding: px-to-rem(18) px-to-rem(28);
    font-family: var(--font-family-03);
    font-size: px-to-rem(15);
    font-weight: 700;
    line-height: 3.2rem;
    letter-spacing: 0.1rem;
    border-radius: px-to-rem(4);
    transition: opacity 0.2s;

    @include hover {
      opacity: 0.85;
    }

    @include media-query {
      line-height: 2.7rem;
      letter-spacing: 0.06rem;
    }

    &--contact {
      background: var(--color-red);
      color: var(--color-white);
    }

    &--youtube {
      background: transparent;
      color: var(--color-white);
      border: px-to-rem(2) solid var(--color-white);
      gap: px-to-rem(10);

      @include media-query {
        background: #BEC0C1;
      }
    }
  }
}

// 新着情報
// =============================================================================
.top-news {
  background: var(--color-beige);
  padding: px-to-rem(50) 0 px-to-rem(64);

  @include media-query {
    padding: px-to-rem(75) 0 px-to-rem(88);
  }

  &__inner {
    max-width: px-to-rem(1350);
    margin: 0 auto;
    padding: 0 px-to-rem(24);

    @include media-query {
      padding: 0 px-to-rem(144);
    }
  }

  &__heading {
    text-align: center;
    margin-bottom: px-to-rem(40);

    @include media-query {
      margin-bottom: px-to-rem(56);
    }
  }

  &__heading-en {
    font-family: var(--font-family-01);
    font-size: px-to-rem(12);
    font-weight: 600;
    line-height: 1rem;
    letter-spacing: 0.24em;
    color: var(--color-red);

    @include media-query {
      line-height: 2.16rem;
    }
  }

  &__heading-ja {
    font-family: var(--font-family-02);
    font-size: px-to-rem(24);
    font-weight: 700;
    color: var(--color-black2);
    line-height: 4rem;
    margin-bottom: px-to-rem(10);

    @include media-query {
      font-size: px-to-rem(36);
      line-height: 4.58rem;
    }
  }

  &__heading-bar {
    display: block;
    width: px-to-rem(40);
    height: px-to-rem(3);
    background: var(--color-red);
    margin: 0 auto;
  }

  &__list {
    list-style: none;
    border-top: 1px solid #D8D0C8;
  }

  &__item {
    display: grid;
    grid-template-columns: 70px auto;
    justify-content: start;
    align-items: center;
    gap: px-to-rem(9) px-to-rem(18);
    padding: px-to-rem(23) 0;
    border-bottom: 1px solid #D8D0C8;
    color: var(--color-black2);
    transition: background-color ease .3s, color ease .3s;

    @include media-query {
      grid-template-columns: auto auto 1fr;
      justify-content: normal;
      gap: px-to-rem(12) px-to-rem(26);
      padding: px-to-rem(14) 0;
    }

    @include hover {
      background-color: var(--color-beige3);
      color: var(--color-red);
    }
  }

  &__date {
    font-family: var(--font-family-01);
    font-size: px-to-rem(13);
    font-weight: 400;
    color: var(--color-black2);
    letter-spacing: 0.02em;
    line-height: 2.3rem;
    white-space: nowrap;
    margin-left: -3px;
    width: 70px;

    @include media-query {
      margin-left: 0px;
    }
  }

  &__tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: px-to-rem(3) 0;
    font-family: var(--font-family-03);
    font-size: px-to-rem(11);
    letter-spacing: 0.06em;
    line-height: 2.0rem;
    font-weight: 700;
    color: var(--color-white);
    white-space: nowrap;
    border-radius: 2px;
    background: var(--color-red);
    width: 70px;
  }

  &__text {
    font-family: var(--font-family-03);
    font-size: px-to-rem(14);
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.15em;
    grid-column: 1 / -1;

    @include media-query {
      grid-column: auto;
      font-size: px-to-rem(15);
      line-height: 2.7;
    }
  }

  &__btn-wrap {
    display: flex;
    justify-content: center;
    margin-top: px-to-rem(40);

    @include media-query {
      margin-top: px-to-rem(37);
    }
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: px-to-rem(16) px-to-rem(24);
    font-family: var(--font-family-03);
    font-size: px-to-rem(14);
    font-weight: 500;
    color: var(--color-red);
    border: 2px solid var(--color-red);
    letter-spacing: 0.2em;
    transition: background 0.2s, color 0.2s;
    border-radius: 4px;
    font-weight: 700;

    @include media-query {
      padding: px-to-rem(16) px-to-rem(30);
      letter-spacing: 0.28em;
    }

    @include hover {
      padding: px-to-rem(16) px-to-rem(28);
      background: var(--color-red);
      color: var(--color-white);
    }
  }
}

// 著書
// =============================================================================
.books {
  background: var(--color-beige3);
  padding: px-to-rem(50) 0 px-to-rem(64);

  @include media-query {
    padding: px-to-rem(80) px-to-rem(24) px-to-rem(88);
  }

  &__inner {
    max-width: px-to-rem(1052);
    margin: 0 auto;
  }

  &__heading {
    text-align: center;
    margin-bottom: px-to-rem(40);

    @include media-query {
      margin-bottom: px-to-rem(56);
    }
  }

  &__heading-en {
    font-family: var(--font-family-01);
    font-size: px-to-rem(12);
    font-weight: 600;
    line-height: 1rem;
    letter-spacing: 0.24em;
    color: var(--color-red);

    @include media-query {
      line-height: 2.16rem;
    }
  }

  &__heading-ja {
    font-family: var(--font-family-02);
    font-size: px-to-rem(24);
    font-weight: 700;
    color: var(--color-black2);
    line-height: 4rem;
    margin-bottom: px-to-rem(12);

    @include media-query {
      font-size: px-to-rem(36);
      line-height: 4.58rem;
    }
  }

  &__heading-bar {
    display: block;
    width: px-to-rem(40);
    height: px-to-rem(3);
    background: var(--color-red);
    margin: 0 auto;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: px-to-rem(24);
    margin: 0 24px;
    
    @include media-query {
      flex-direction: row;
      gap: px-to-rem(32);
      margin: 0;
    }
  }

  &__item {
    display: flex;
    background: var(--color-white);
    border: 1px solid var(--color-beige2);
    border-radius: px-to-rem(15);
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.06);
    align-items: center;
    background-color: var(--color-beige3);
    position: relative;
    transform: scale(1);
    transition: transform ease .3s;

    @include media-query {
      flex: 1;
      align-items: flex-start;
      background-color: var(--color-white);
    }

    @include hover {
      transform: scale(1.03);
    }
  }

  &__item-img {
    flex-shrink: 0;

    img {
      object-fit: cover;
      display: block;
      width: 110px;
      height: 180px;

      @include media-query {
        width: 140px;
        height: 253px;
      }
    }
  }
  
  &__label {
    display: inline-block;
    background-color:var(--color-red);
    color: var(--color-white);
    border-radius: 2px;
    font-family: var(--font-family-03);
    font-size: px-to-rem(11);
    font-weight: 700;
    line-height: 2.2;
    letter-spacing: 0.01em;
    padding: 3px 12px;
    position: absolute;
    top: 12px;
    left: 12px;
  }

  &__item-body {
    flex: 1;
    padding: px-to-rem(16) px-to-rem(14);
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);

    @include media-query {
      padding: px-to-rem(20);
    }
  }

  &__item-meta {
    display: flex;
    align-items: center;
    gap: px-to-rem(8);
    flex-wrap: wrap;
  }

  &__item-badge {
    display: inline-flex;
    align-items: center;
    padding: px-to-rem(2) px-to-rem(8);
    background: var(--color-red);
    color: var(--color-white);
    font-family: var(--font-family-03);
    font-size: px-to-rem(11);
    font-weight: 700;
    letter-spacing: 0.05em;
  }

  &__item-date {
    font-family: var(--font-family-03);
    font-size: px-to-rem(12);
    letter-spacing: 0.03em;
    line-height: 2.16;

    @include media-query {
      line-height: 1;
    }
  }

  &__item-title {
    font-family: var(--font-family-02);
    font-size: px-to-rem(14);
    font-weight: 700;
    color: var(--color-black2);
    line-height: 2.0;
    letter-spacing: 0.09em;
    margin-top: px-to-rem(0);

    @include media-query {
      font-size: px-to-rem(16);
      line-height: 2.4;
      letter-spacing: 0;
      margin-top: px-to-rem(22);
    }
  }

  &__item-text {
    font-family: var(--font-family-03);
    font-size: px-to-rem(12);
    font-weight: 400;
    color: var(--color-black2);
    flex: 1;
    margin-top: 5px;
    line-height: 2.3;

    @include media-query {
      font-size: px-to-rem(14);
      margin-top: 0;
      letter-spacing: 0em;
      line-height: 1.8;
      margin-top: 3px;
    }
  }

  &__item-btn {
    display: inline-flex;
    align-items: center;
    gap: px-to-rem(8);
    padding: px-to-rem(9) px-to-rem(22);
    background: var(--color-red);
    color: var(--color-white);
    font-family: var(--font-family-03);
    font-size: px-to-rem(13);
    font-weight: 700;
    letter-spacing: 0.04em;
    align-self: flex-start;
    transition: opacity 0.2s;
    border-radius: px-to-rem(4);
    min-height: 47px;
    margin-top: 10px;

    @include media-query {
      margin-top: 16px;
    }

    @include hover {
      opacity: 0.85;
    }
  }
}

// メディア出演・掲載
// =============================================================================
.media {
  background: var(--color-beige3);
  padding: px-to-rem(60) 0 px-to-rem(64);

  @include media-query {
    padding: px-to-rem(88) px-to-rem(24) px-to-rem(96);
  }

  &__inner {
    max-width: px-to-rem(900);
    margin: 0 auto;
  }

  &__heading {
    text-align: center;
    margin-bottom: px-to-rem(15);

    @include media-query {
      margin-bottom: px-to-rem(30);
    }
  }

  &__heading-en {
    font-family: var(--font-family-01);
    font-size: px-to-rem(12);
    font-weight: 600;
    line-height: 1rem;
    letter-spacing: 0.24em;
    color: var(--color-red);

    @include media-query {
      line-height: 2.16rem;
    }
  }

  &__heading-ja {
    font-family: var(--font-family-02);
    font-size: px-to-rem(24);
    font-weight: 700;
    color: var(--color-black2);
    line-height: 4rem;
    margin-bottom: px-to-rem(12);

    @include media-query {
      font-size: px-to-rem(36);
      line-height: 4.58rem;
    }
  }

  &__heading-bar {
    display: block;
    width: px-to-rem(40);
    height: px-to-rem(3);
    background: var(--color-red);
    margin: 0 auto;
  }

  &__intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: px-to-rem(16);
    margin-bottom: px-to-rem(32);

    @include media-query {
      margin-bottom: px-to-rem(62);
    }
  }

  &__intro-img {
    flex-shrink: 0;
    width: px-to-rem(48);
    height: px-to-rem(48);
    border-radius: 50%;
    overflow: hidden;
    background: var(--color-beige2);

    @include media-query($_range: below) {
      display: none;
    }

    img {
      object-fit: cover;
      display: block;
    }
  }

  &__lead {
    font-family: var(--font-family-03);
    font-size: px-to-rem(14);
    color: var(--color-black2);
    letter-spacing: 0.13em;
    font-weight: 400;
    line-height: 2.89;

      @include media-query {
        line-height: 1.7;
        line-height: 1;
      }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: px-to-rem(24);
    margin: 0 24px;

    @include media-query {
      grid-template-columns: repeat(3, 1fr);
      gap: px-to-rem(24);
      margin: 0;
    }
  }

  &__item {
    background: var(--color-white);
    border: 1px solid var(--color-beige2);
    border-radius: px-to-rem(4);
    padding: px-to-rem(24) px-to-rem(20);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.04);
    border-radius: px-to-rem(14);
    transform: scale(1);
    transition: transform ease .3s;
    
    @include hover {
      transform: scale(1.03);
    }

    @include media-query {
      padding: px-to-rem(22) px-to-rem(20) px-to-rem(23) px-to-rem(20);
    }
  }

  &__item-source {
    font-family: var(--font-family-03);
    font-size: px-to-rem(12);
    font-weight: 700;
    color: var(--color-red);
    letter-spacing: 0.2em;
    line-height: 2.16;

    @include media-query {
      letter-spacing: 0.14em;
    }
  }

  &__item-body {
    display: flex;
    align-items: center;
    gap: px-to-rem(14);
    line-height: 2.4;
  }

  &__item-icon {
    flex-shrink: 0;
    font-size: px-to-rem(18);
    color: var(--color-red);
    margin-top: px-to-rem(2);
    width: 44px;
    height: 44px;

    &::before {
      content: "";
      display: inline-block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: var(--color-beige);
      background-image: url("/asset/images/media-icon-01.png");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__item-icon--02 {
    &::before {
      background-image: url("/asset/images/media-icon-02.png");
    }
  }

  &__item-icon--03 {
    &::before {
      background-image: url("/asset/images/media-icon-03.png");
    }
  }

  &__item-content {
    flex: 1;
    display: flex;
    gap: 8px;
    flex-direction: column;
  }

  &__item-title {
    font-family: var(--font-family-01);
    font-size: px-to-rem(15);
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.04em;
    color: var(--color-black2);

    @include media-query {
      font-size: px-to-rem(14);
    }
  }

  &__item-date {
    font-family: var(--font-family-03);
    font-size: px-to-rem(12);
    letter-spacing: 0.03em;
    line-height: 1.5;
    color: var(--color-black2);
  }
}

// Youtube
// =============================================================================
.youtube {
  background-image: url(/asset/images/youtube-channel.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: transparent;
  padding: px-to-rem(48) 0 px-to-rem(64);
  position: relative;
  z-index: 10;

  @include media-query {
    padding: px-to-rem(76) px-to-rem(24) px-to-rem(100);
  }

  &__background {
    background-color: #333333;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
  }

  &__inner {
    max-width: px-to-rem(900);
    margin: 0 auto;
    padding: 0 px-to-rem(28);
    text-align: center;

    @include media-query {
      padding: 0 px-to-rem(144);
    }
  }

  &__heading {
    margin-bottom: px-to-rem(20);

    @include media-query {
      margin-bottom: px-to-rem(16);
    }
  }

  &__heading-en {
    font-family: var(--font-family-01);
    font-size: px-to-rem(12);
    font-weight: 700;
    line-height: 2.16rem;
    letter-spacing: 0.24em;
    color: var(--color-red4);
    margin-bottom: -5px;
    box-shadow: 2,2,2,0;

    @include media-query {
      margin-bottom: 0;
    }
  }

  &__heading-ja {
    font-family: var(--font-family-02);
    font-size: px-to-rem(24);
    font-weight: 700;
    color: var(--color-white);
    line-height: 3rem;
    letter-spacing: 0.05em;
    text-shadow: 2px 4px 4px #000;

    @include media-query {
      font-size: 3.2rem;
      line-height: 4.58rem;
      letter-spacing: 0.3rem;
    }
  }

  &__heading-bar {
    display: block;
    width: px-to-rem(40);
    height: px-to-rem(3);
    background: var(--color-red4);
    margin: 15px auto 0;

    @include media-query {
      margin: 10px auto 0;
    }
  }

  &__text {
    font-family: var(--font-family-03);
    font-size: px-to-rem(14);
    font-weight: 400;
    color: rgba(255, 255, 255);
    line-height: 1.8;
    margin-bottom: px-to-rem(22);
    letter-spacing: 0.12em;
    font-weight: 700;
    text-shadow: 2px 4px 4px #000;

    @include media-query {
      line-height: 2;
      margin-bottom: px-to-rem(58);
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: px-to-rem(30);
    max-width: px-to-rem(1052);
    margin: px-to-rem(52) 24px px-to-rem(50);

    @include media-query {
      grid-template-columns: repeat(3, 1fr);
      margin: 0 auto px-to-rem(56);
      gap: px-to-rem(24);
    }
  }

  &__item {
    width: 100%;

    iframe {
      width: 100%;
      height: auto;
      aspect-ratio: 16 / 9;
      display: block;
    }
  }

  &__btn-wrap {
    display: flex;
    justify-content: center;
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: px-to-rem(20) px-to-rem(36);
    background: var(--color-red4);
    color: var(--color-white);
    font-family: var(--font-family-03);
    font-size: px-to-rem(15);
    font-weight: 700;
    letter-spacing: 0.23em;
    border-radius: px-to-rem(4);
    transition: opacity 0.2s;
    border-radius: 4px;

    .x-icon i {
      padding-top: 3px;
      padding-right: 3px;
    }

      @include media-query {
        padding: px-to-rem(20) px-to-rem(46);
      }

    @include hover {
      opacity: 0.8;
    }
  }
}

// Profile
// =============================================================================
.profile {
  &__inner {
    max-width: px-to-rem(1052);
    margin: 53px auto;
    padding: 0;

    @include media-query {
      margin: 76px auto;
      padding: 0 px-to-rem(24);
    }
  }

  &__heading {
    text-align: center;
    margin-bottom: px-to-rem(15);

    @include media-query {
      margin-bottom: px-to-rem(56);
    }
  }

  &__heading-en {
    font-family: var(--font-family-01);
    font-size: px-to-rem(12);
    font-weight: 600;
    line-height: 1rem;
    letter-spacing: 0.24em;
    color: var(--color-red);

    @include media-query {
      line-height: 2.16rem;
      margin-bottom: px-to-rem(-8);
    }
  }

  &__heading-ja {
    font-family: var(--font-family-02);
    font-size: px-to-rem(25);
    font-weight: 700;
    color: var(--color-black2);
    line-height: 3.3rem;
    margin-bottom: px-to-rem(14);

    @include media-query {
      font-size: px-to-rem(36);
      line-height: 4.58rem;
    }
  }

  &__heading-bar {
    display: block;
    width: px-to-rem(40);
    height: px-to-rem(3);
    background: var(--color-red);
    margin: 0 auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: px-to-rem(46);
    margin: px-to-rem(40) px-to-rem(24) 0;

    @include media-query {
      flex-direction: row;
      align-items: flex-start;
      gap: px-to-rem(64);
      margin: px-to-rem(48) 0 0;
    }
  }

  &__img {
    position: relative;
    width: px-to-rem(220);
    height: auto;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      border-radius: px-to-rem(12);
      box-shadow: 0px 12px 48px rgba(0, 0, 0, 0.18);
    }

    @include media-query {
      width: px-to-rem(320);
    }
  }

  &__social {
    position: absolute;
    right: -8%;
    top: 34%;
    display: flex;
    flex-direction: column;
    gap: px-to-rem(24);
    background: var(--color-white);
    padding: 16px 12px;
    border-radius: 50px;
    align-items: center;

    .x-icon {
      border-radius: 4px;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      & i {
        color: var(--color-black2);
        font-size: 16px;
        line-height: 1;
      }
    }
  }

  &__body {
    flex: 1;
    padding-right: px-to-rem(24);

    @include media-query {
      padding-right: 0;
    }
  }

  &__name {
    font-family: var(--font-family-02);
    font-size: px-to-rem(32);
    font-weight: 700;
    display: flex;
    align-items: baseline;
    gap: px-to-rem(22);
    margin-bottom: px-to-rem(16);

    span {
      font-family: var(--font-family-01);
      font-size: px-to-rem(14);
      font-weight: 400;
      letter-spacing: 0.06em;
    }

    @include media-query {
      gap: px-to-rem(20);
      margin-bottom: px-to-rem(18);

      span {
        font-size: px-to-rem(16);
        letter-spacing: 0em;
      }
    }
  }

  &__name-en {
    font-family: var(--font-family-01);
    font-size: px-to-rem(13);
    font-weight: 600;
    color: var(--color-red);
    margin-bottom: px-to-rem(26);
    letter-spacing: 0.08em;

    @include media-query {
      font-size: px-to-rem(14);
      letter-spacing: 0.01em;
    }
  }

  &__text {
    font-size: px-to-rem(14);
    line-height: 2.1;
    color: var(--color-black2);
    margin-bottom: px-to-rem(18);
    letter-spacing: 0.1em;

    &:last-of-type {
      margin-bottom: px-to-rem(21);
    }

    @include media-query {
      font-size: px-to-rem(15);
      line-height: 1.8;
      letter-spacing: 0.08em;
      margin-bottom: px-to-rem(20);

      &:last-of-type {
        margin-bottom: px-to-rem(24);
      }
    }
  }

  &__label {
    display: flex;
    flex-wrap: wrap;
    gap: px-to-rem(8);
  }

  &__label-text {
    font-weight: 400;
    font-size: px-to-rem(12);
    background: var(--color-beige3);
    border: 1px solid var(--color-beige2);
    border-radius: px-to-rem(50);
    padding: px-to-rem(6) px-to-rem(11);
    letter-spacing: 0.02em;
  }

}

// 略歴
// =============================================================================
.career {
  &__inner {
    max-width: 110rem;
    margin: 0 auto;
    padding: 0 px-to-rem(24);

    @include media-query {
      padding: 0 px-to-rem(24);
    }
  }

  &__heading {
    margin-bottom: px-to-rem(42);
  }

  &__heading-ja {
    font-family: var(--font-family-02);
    font-size: px-to-rem(20);
    font-weight: 700;
    color: var(--color-black2);
    line-height: 4rem;
    margin-bottom: px-to-rem(12);

    @include media-query {
    }
  }

  &__heading-bar {
    display: block;
    width: 100%;
    height: px-to-rem(2);
    background: var(--color-beige2);
  }

  &__timeline {
    position: relative;
    padding-left: px-to-rem(110);

    @include media-query {
      padding-left: px-to-rem(225);
    }

    &::before {
      content: "";
      position: absolute;
      left: px-to-rem(0);
      top: px-to-rem(8);
      bottom: px-to-rem(8);
      width: px-to-rem(3);
      background: var(--color-red);

      @include media-query {
        left: px-to-rem(-2);
      }
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: px-to-rem(56);

    &:last-child {
      margin-bottom: 0;
    }

    @include media-query {
      margin-bottom: px-to-rem(34);
    }
  }

  &__year {
    position: absolute;
    left: px-to-rem(-85);
    top: px-to-rem(2);
    width: px-to-rem(50);
    font-family: var(--font-family-01);
    font-size: px-to-rem(12);
    font-weight: 700;
    color: var(--color-red);
    line-height: 2;


    @include media-query {
      top: px-to-rem(2);
      left: px-to-rem(-180);
      width: px-to-rem(128);
      font-size: px-to-rem(14);
      top: px-to-rem(4);
      line-height: 1.4;
    }

    &--sp {
    }
  }

  &__dot {
    background-image: url("/asset/images/history-dot.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: px-to-rem(5);
    left: px-to-rem(-118);
    width: px-to-rem(20);
    height: px-to-rem(20);
    
    @include media-query {
      left: px-to-rem(-235);
    }
  }

  &__content {
    flex: 1;
  }

  &__title {
    font-family: var(--font-family-02);
    font-size: px-to-rem(16);
    font-weight: 700;
    color: var(--color-black2);
    line-height: 1.6;
    margin-bottom: px-to-rem(6);
    letter-spacing: 0.05em;

    @include media-query {
      letter-spacing: 0.02em;
      margin-bottom: px-to-rem(8);
    }
  }

  &__text {
    font-size: px-to-rem(13);
    color: var(--color-black2);
    line-height: 2;
    letter-spacing: 0.16em;

    @include media-query {
      font-size: px-to-rem(14);
      line-height: 1.8;
    }
  }
}

// お問い合わせ
// =============================================================================
.contact {
  background: linear-gradient(to bottom, #1E2D4E, #0D1929);
  padding: px-to-rem(42) 0 px-to-rem(64);
  position: relative;
  margin-top: 64px;

  @include media-query {
    padding: px-to-rem(80) 0 px-to-rem(100);
    margin-top: 120px;
  }

  &__inner {
    max-width: px-to-rem(900);
    margin: 0 auto;
    padding: 0 px-to-rem(27);
    text-align: center;

    @include media-query {
      padding: 0 px-to-rem(144);
    }
  }

  &__heading {
    margin-bottom: px-to-rem(20);
  }

  &__heading-en {
    font-family: var(--font-family-01);
    font-size: px-to-rem(12);
    font-weight: 700;
    line-height: 2.16rem;
    letter-spacing: 0.24em;
    color: var(--color-gold);
  }

  &__heading-ja {
    font-family: var(--font-family-02);
    font-size: px-to-rem(24);
    font-weight: 700;
    color: var(--color-white);
    line-height: 3rem;
    letter-spacing: 0.08em;

    @include media-query {
      font-size: 3.2rem;
      line-height: 4.58rem;
      letter-spacing: 0.3rem;
    }
  }

  &__heading-bar {
    display: block;
    width: px-to-rem(40);
    height: px-to-rem(3);
    background: var(--color-red);
    margin: 15px auto 0;

    @include media-query {
      margin: 10px auto 0;
    }
  }

  &__text {
    font-family: var(--font-family-03);
    font-size: px-to-rem(14);
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    line-height: 2;
    margin-bottom: px-to-rem(22);

    @include media-query {
      font-size: px-to-rem(15);
      line-height: 2;
      margin-bottom: px-to-rem(32);
    }
  }

  &__btn-wrap {
    display: flex;
    justify-content: center;
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: px-to-rem(16) px-to-rem(40);
    background: var(--color-red);
    color: var(--color-white);
    font-family: var(--font-family-03);
    font-size: px-to-rem(15);
    font-weight: 700;
    letter-spacing: 0.23em;
    border-radius: px-to-rem(4);
    transition: opacity 0.2s;

    @include hover {
      opacity: 0.85;
    }
  }
}